/*form{
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhYBDUY-ViEy89BbMAA1LvUCpfXB82ZSWQf4yN_5dU0ccR441r");
	background-size: 100% 100%;
	width: 1000px;
	height: 600px;
}*/
